{% extends "base.html"%}
{% block content %}
{% for users in users %}
  <div class="">
    <a href="{{ url_for('admin.view_user', id=users.id)}}" class="">{{ users.first_name }} {{ users.last_name }}</a>
    <div class="">{{ users.email }} </div>
  </div>
{% endfor %}
<h2>Add New User</h2>
<div class="">
  <form method="POST" id="kt_ecommerce_settings_general_form" class="form" action="{{ url_for('admin.adduser')}}">
  {{ form.hidden_tag() }}
  <label class="">
    <span class="required">First Name</span>
  </label>
  {{ form.first_name(class="form-control form-control-solid",  value="") }}
</div>
<div class="">
  <label class="">
    <span class="required">Last Name</span>
  </label>
  {{ form.last_name(class="form-control form-control-solid",  value="") }}
</div>
<div class="">
  <label class="">
    <span class="required">Email</span>
  </label>
  {{ form.email(class="form-control form-control-solid",  value="") }}
</div>
<div class="">
  <label class="">
    <span class="required">Phone</span>
  </label>
  {{ form.phone(class="form-control form-control-solid",  value="") }}
</div>
<div class="">
  <label class="">
    <span class="required">Address</span>
  </label>
  {{ form.address(class="form-control form-control-solid",  value="") }}
</div>
<div class="">
  <label class="">
    <span class="required">City</span>
  </label>
  {{ form.city(class="form-control form-control-solid",  value="") }}
</div>
<div class="">

  <label class="">
    <span class="required">State</span>
  </label>
  {{ form.state(class="form-control form-control-solid",  value="") }}
</div>
<div class="">
  <label class="">
    <span class="required">zip</span>
  </label>
  {{ form.zip(class="form-control form-control-solid",  value="") }}
</div>
{% endblock content %}
